<!DOCTYPE html>
<!-- 如果在jsp页面中获取可以使用spring security的标签 -->
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<!-- <title>欢迎页</title> -->
 <title sec:authentication="name"></title> <!-- 获得当前用户的用户名 -->
<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
<script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>

 <form action="/user/info"  method="get">
   <input value="进入个人主页" class="btn btn-default"  type="submit" >
 </form>

</body>

</html>