<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>选课列表</title>
<script type="text/javascript" src="./jquery/jquery-3.5.1.js"></script>
<link href="./bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
<script src="./bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<table class="table table-bordered">
 <tr th:each="course,cou:${course}">
  <!-- <td th:text="${course.cname}"> </td> -->
  <td><input th:value="${course.cid}" th:text="${course.cname}" th:type="checkbox" th:name="checkbox" th:id="checkbox"/></td>
 </tr>
 </table>
 
 <button id="btn"> 提交  </button>
 <div id="dd" style="display:none;">
 <form action="/success1" method="get">
   <input type="submit" value="查看选课">
</form>
</div>
<script type="text/javascript">

$("#btn").click(function() {
	
	tijiao();
	
});

function Display() {
	$("#dd").attr("style","display:block;"); //style中的display属性
	  
	}

   function tijiao(){
                var checkID=[];
                $("input[name='checkbox']:checked").each(function(i){
                      checkID[i] = $(this).val();
                });

                $.ajax({
                	  url:'/success',
                	  data:{'checkID':checkID},
                      dataType:'text',
                      type:'get',
                      traditional:true,
                      contentType:'application/json',
                      success: function(data){
                        alert(data);
                       
                        Display();
                        
                      }
                 
                    }
                );
            }

     </script>

</body>
</html>