<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>个人信息页</title>
<link href="../bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
<script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
<div class="row">
  <div class="col-xs-12 col-md-8"> 
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
  <h1 sec:authentication="name"></h1>
  </div>
  </div>
  <div class="col-xs-6 col-md-4 ‎">
  <div class="col-md-2 ">
  <form  action="/user/select" method="post">
   <input value="选课" class="btn btn-default"  type="submit" >
 </form>
  </div>
  <div class="col-md-2 ">
  <form action="/logout"  method="get">
   <input value="退出" class="btn btn-default"  type="submit" >
 </form>
 </div>
 <div class="col-md-2 ">
  <form action="/user/selectinfo"  method="get">
   <input value="查看选课表" class="btn btn-default"  type="submit" >
 </form>
 </div>
  </div>
</div>
</nav>
<h1>学生信息</h1>
<table class="table table-bordered">
<tr >
 <td >姓名</td>
 <td >学号</td>
 <td >年级</td>
 <td >专业</td>
 <td >学院</td>
 </tr>
 <!-- 如果在jsp页面中获取可以使用spring security的标签 -->
  <tr >
 <td sec:authentication="principal.username"></td>
 <td sec:authentication="principal.userid"></td>
 <td sec:authentication="principal.nianji"></td>
 <td sec:authentication="principal.zhuanye"></td>
 <td sec:authentication="principal.xueyuan"></td>
 </tr>
 <!-- 使用后端控制器传值 -->
 <!--  <tr th:each="student:${msg}">
 <td th:text="${student.username}"></td>
 <td th:text="${student.userid}"></td>
 <td th:text="${student.nianji}"></td>
 <td th:text="${student.zhuanye}"></td>
 <td th:text="${student.xueyuan}"></td>
 </tr>-->
 </table>
 
 
</body>
</html>